---
const langSelected = Astro.currentLocale;
const {id = "languages"} = Astro.props;
---

<select name="language" id={id} class="font-emoji" value={langSelected}>
  <option value="es" selected={langSelected === "es"}>ES</option>
  <option value="en" selected={langSelected === "en"}>EN</option>
  <option value="de" selected={langSelected === "de"}>DE </option>
</select>

<script>
import { getRelativeLocaleUrl } from "astro:i18n";
import type { ChangeEvent } from "react";
  document.addEventListener("astro:page-load", () => {
    const $select = document.querySelectorAll(`#languages`) as NodeListOf<HTMLSelectElement>;

    if(!$select) return;
  
    $select?.forEach(el => el.addEventListener("change", (e) => {
      const target = e.target as HTMLSelectElement;
      const url = new URL(window.location.href);
      const [_, ...rest] = url.pathname.split("/");

      if(rest.some(char => ["es", "en", "de"].includes(char))) {
        rest.shift();
      }

      window.location.href = getRelativeLocaleUrl(target.value, rest.join("/"))
    }));
  })
</script>
