---
const langSelected = Astro.currentLocale;
const { id = "language" } = Astro.props;
---

<select name="language" id={id} class="font-emoji" value={langSelected}>
  <option value="es" selected={langSelected === "es"}>ES</option>
  <option value="en" selected={langSelected === "en"}>EN</option>
  <option value="de" selected={langSelected === "de"}>DE </option>
</select>

<script define:vars={{ langSelected, id }}>
  const $select = document.querySelector(`#${id}`);

  $select?.addEventListener("change", (e) => {
    localStorage.setItem("lang", langSelected);

    const url = new URL(window.location.href);
    const [_, language, ...rest] = url.pathname.split("/");
    window.location.href = `/${e.target.value}/${rest.join("/")}`;
  });
</script>
