---
const langSelected = Astro.currentLocale;
---

<select name="language" id={"languages"} class="font-emoji" value={langSelected}>
  <option value="es" selected={langSelected === "es"}>ES</option>
  <option value="en" selected={langSelected === "en"}>EN</option>
  <option value="de" selected={langSelected === "de"}>DE </option>
</select>

<script>
import { getRelativeLocaleUrl } from "astro:i18n";

  document.addEventListener("astro:page-load", () => {
    const $select = document.querySelector(`#languages`) as HTMLSelectElement;;
  
    $select?.addEventListener("change", (e) => {
  
      const url = new URL(window.location.href);
      const [_, ...rest] = url.pathname.split("/");

      if(rest.some(char => ["es", "en", "de"].includes(char))) {
        rest.shift();
      }

      window.location.href = getRelativeLocaleUrl(e.target.value, rest.join("/"))
    });
  })
</script>
