---
import { Image } from "astro:assets";
import LogoImg from "@/assets/images/logo.webp";
import { useTranslations } from "@/lib/i18n/useTranslations";

const lang = Astro.currentLocale as "es" | "en" | "de";
const t = useTranslations(lang);

const timestamp = 1746103200;
const date = new Date("05/01/2025 10:00:00").getTime();

const formattedDate = new Intl.DateTimeFormat(lang, {
  dateStyle: 'full',
  timeStyle: 'short',
  timeZone: 'Europe/Madrid'
}).format(date);
---

<section
  class="h-full min-h-[calc(100dvh-93px)] max-w-6xl gap-6 mx-auto grid grid-col-1 md:grid-cols-2 grid-rows-[auto_1fr] md:grid-rows-1 p-4 overflow-x-hidden"
>
  <div class="place-content-start md:place-content-center py-10">
    <h1 class="text-4xl md:text-6xl font-bold tracking-tighter">
      {t("hero.title").split(",")[0]}
      <br />
      <span class="text-primary">{t("hero.title").split(",")[1]}</span>
    </h1>
    <p class="pt-2 max-w-[75ch] text-neutral-500 md:text-xl">
      {t("hero.subtitle")}
    </p>
    <h3 class="text-lg md:text-xl font-bold my-4">{t("hero.openingDate")} <br/><span class="capitalize">{formattedDate}</span></h3>
  </div>

  <div class="place-content-start md:place-content-center">
    <Image src={LogoImg} alt={"Logo de la cocina de Vero"} class={"scale-[1.2]"} priority={true} loading="eager"/>
  </div>
</section>
