---
import { useTranslations } from "@/lib/i18n/useTranslations";
import {MapPin, Phone, Facebook, Instagram} from "@lucide/astro"
import Logo from "@/components/Logo/Logo.astro";

const lang = Astro.currentLocale as "es" | "en" | "de";
const t = useTranslations(lang);

---

<footer class="max-w-6xl mx-auto px-4 pt-20">
    <div class="gap-8 lg:gap-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[250px_100px_1fr_1fr]">
        <div class="flex flex-row gap-3 md:gap-2 items-center">
            <a href={`/${lang}/`} class="href">
                <Logo width={140} class="min-w-[140px]"/>
            </a>
            <p class="md:text-pretty text-sm text-gray-600 text-start max-w-[50ch] text-balance">{t("footer.description")}</p>
        </div>
        <div class="flex flex-col gap-2">
            <h3 class="text-pretty text-sm font-semibold">{t("footer.menu")}</h3>
            <a href={`/${lang}/menu`} class="text-pretty text-sm text-gray-600">{t("nav.menu")}</a>
            <a href={`/${lang}/about`} class="text-pretty text-sm text-gray-600">{t("nav.about")}</a>
            <a href={`/${lang}/contact`} class="text-pretty text-sm text-gray-600">{t("nav.contact")}</a>
        </div>
        <div class="flex flex-col gap-2">
            <h3 class="text-pretty text-sm font-semibold">{t("footer.contact")}</h3>
            <span class="flex gap-2 text-sm text-gray-600"><MapPin size="20" class="text-primary"/>Pórtico n1, Urb. Laguna Beach (Torrox Costa)</span>
            <a href="tel:+34652640538" class="text-pretty text-sm text-gray-600 flex gap-2"><Phone size="20" class="text-primary"/> +34 652 64 05 38</a>
        </div>
        <div class="flex flex-col gap-2">
            <h3 class="text-pretty text-sm font-semibold">{t("footer.hours")}</h3>
            <p class="text-pretty text-sm text-gray-600 text-start flex gap-5">{t("footer.weekdays")} <span>12:00 AM - 16:30 PM</span></p>
            <p class="text-pretty text-sm text-gray-600 text-start flex gap-5">{t("footer.weekends")} <span>12:00 AM - 16:30 PM</span></p>
            <div class="flex justify-start gap-1">
                <!-- <a href="#" aria-label="facebook link" class="flex items-center justify-center w-[40px] aspect-square rounded-full bg-primary"><Facebook size={20} class="text-white" aria-hidden="true" /></a> -->
                <a href="https://www.instagram.com/lacocinadevero_lagunabeach?igsh=MzJmOXIzdDY1cGlo" target="_blank" aria-label="instagram link" class="flex items-center justify-center w-[40px] aspect-square rounded-full bg-primary"><Instagram size={20} class="text-black" aria-hidden="true" /></a>
            </div>
        </div>
    </div>
    <hr class="border-gray-300 border-1 mt-8 w-full mx-auto" />
    <p class="text-sm text-gray-600 text-center py-8">{new Date().getFullYear()} - La cocina de Vero.</p>
</footer>
