@import "tailwindcss";
@import '@fontsource-variable/inter';
@import './reset.css' layer(base);
@import './typography.css' layer(base);

@theme {
  --font-display: "Inter", "sans-serif";
  --font-accent: "SourGummy", "sans-serif";
  --font-emoji: 'Segoe UI Emoji', 'Apple Color Emoji', 'Segoe UI Symbol', sans-serif;
  --color-primary: #FF5733;
  --color-secondary: #FFC300;
  --color-neutral: #706C61;
  --color-accent: #F8F8F8;
}

body {
  font-family: var(--font-display);

  @media screen and (width <= 768px) {
    &:has(#mobile-menu[data-open="true"]) {
      overflow: hidden;
    }
  }
    
}

@utility h1 {
  font-size: clamp(2.5rem, 4vw + 1rem, 4rem);
  @apply font-semibold;
  line-height: 1.2;
}

@utility h2 {
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
  @apply font-semibold;
  line-height: 1.2;
}

@utility h3 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  @apply font-semibold;
  line-height: 1.2;
}

@utility h4 {
  font-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
  @apply font-semibold;
  line-height: 1.2;
}

@utility h5 {
  font-size: clamp(1.125rem, 1vw + 1rem, 1.5rem);
  @apply font-semibold;
  line-height: 1.2;
}

@utility badge {
  @apply text-sm font-bold tracking-tighter bg-primary px-4 py-1 rounded text-white;
}