@import "tailwindcss";
@import '@fontsource-variable/inter';
@import './reset.css' layer(base);
@import './typography.css' layer(base);

@theme {
  --font-display: "Inter", "sans-serif";
  --font-accent: "accent-font", "Great Sejagad", "sans-serif";
  --font-emoji: 'Segoe UI Emoji', 'Apple Color Emoji', 'Segoe UI Symbol', sans-serif;
  --color-primary: #FF5733;
  --color-secondary: #FFC300;
  --color-neutral: #706C61;
  --color-accent: #F8F8F8;
}

body {
  font-family: var(--font-display);
}